.colophon
    &:before 
      display block
      content ''
      width 100px
      height 1px
      margin 4rem auto
      background-color #eee

    ul, p 
      text-align center
      color #999
      margin 10px 0

    ul 
      padding 0
      margin-left 0
      li 
        display inline
        padding 0 14px

      a 
        white-space nowrap

.star
    margin-left 96px
